atomicwrites==1.1.5
attrs==18.1.0
cffi==1.11.5
Cython==0.28.5
glfw==1.7.0
imageio==2.3.0
more-itertools==4.3.0
mujoco-py==1.50.1.56
numpy==1.15.0
pathlib2==2.3.2
Pillow==5.2.0
pluggy==0.7.1
py==1.5.4
pycparser==2.18
pytest==3.7.1
six==1.11.0
